.main{
    /* background: url('../../public/images/stream/science/sci_stream_cover.png'); */
    /* height: 30%; */
    /* object-fit: contain; */
    /* background-position: top; */
    /* background-size: covesr; */
    opacity: 0.9;
}



.main label{
    font-size: 1rem !important;
}


  .req::after{
    content: '*';
    color: red;
    margin-left: 5px;
    font-size: 1.2rem !important;
  }

