
.container{
    margin: 1rem 2rem;
    
}
.links{
    display: flex;
    justify-content: space-between;
    /* width: 20vw; */
    justify-items: center;
    align-items: center;
}




.links li{
/* width: px; */

font-style: normal;
font-weight: 400;
font-size: 16px;
display: flex;
align-items: center;
margin-top:1rem ;
color: #868686;


}

.links span{
    /* margin-top: 1rem; */

font-weight: 800;
font-size: 16px;
line-height: 22px;

/* identical to box height */

color: #454A6D;


}

.links .inside_links{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}